.limiter {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 100px;
}
.content-container {
  background-color: #e3f7ff;
  width: 1089px;
  height: 592px;
  margin-top: 100px;
  border-width: 1px;
  border-radius: 20px;
  box-shadow:  4px 4px 0px rgba(0,0,0,0.25);
}
.logo-content {
  padding-left: 40px;
}
.logo-content .header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-content .body {
  display: flex;
  justify-content: center;
}
.login-form {
  background-color: white;
  border-radius: 20px;
  border-style: solid;
  border-width: 0px;
  height: 592px;
  border-color: white;
  justify-content: center;
  /* box-shadow: 1px 1px 2px; */
}
.login-form .header {
  display: flex;
  justify-content: center;
  margin-top: 95px;
}
.login-form .body {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}
.login-form .footer {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
.login-form .footer .recover {
  font-weight: bold;
  color: #0052cc;
}
.login-form .footer .recover:hover {
  color: #cc00cc;
  text-decoration: underline;
}
.btnItem {
  border-radius: 20px;
  align-self: center;
  background-color: #0052CC;
  width: 120px;
  height: 42px;
}

.row-mid {
  display: flex;
  justify-content: center;
}

.input-field {
  width: 400px;
  height: 42px; 
  font-size: 16pxpx;
  border-radius: 20px;
}
.input-checkbox {
  margin-left: 23px;
}
.ant-checkbox .ant-checkbox-inner {
  background-color:#C4C4C4;
  border-color:#C4C4C4;
}
